div {
    border-left: 4px rgb(187, 26, 133) solid;
    border-bottom: 6px rgb(231, 144, 202) double;
    width: 900px;
    margin: auto;
  }
  .fbranco {
    background-color: rgb(255, 188, 229);
  }
  .flilas {
    background-color: rgb(128, 22, 228);
  }
  
  #fverde{
    background-color: rgb(224, 204, 20);
  }
  h1,
  h3 {
    text-align: center;
  }
  h2 {
    text-align: right;
  }
  body {
    background-color: rgb(248, 248, 248);
  }