div {
    border-left: 4px rgb(0, 0, 0) solid;
    border-bottom: 6px rgb(221, 27, 27) double;
    width: 800px;
    margin: auto;
  }
  .fbranco {
    background-color: rgb(64, 168, 128);
  }
  .flilas {
    background-color: rgb(163, 148, 177);
  }
  
  #fverde {
    background-color: rgb(224, 204, 20);
  }
  h1,
  h3 {
    text-align: center;
  }
  h2 {
    text-align: right;
  }
  body {
    background-color: lightpink;